/* GENERAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Lato", sans-serif;;
}

.text-white{
    color: white!important;
}

.font-15{
    font-size: 15px!important;
}

.font-30{
    font-size: 30px!important;
}

.font-w-400{
    font-weight: 400!important;
}

.line-h{
    line-height: 1.5;
}

.float-l{
    float: left;
}

.float-r{
    float: right;
}

.clear{
    display: table;
    content: "";
    clear: both;
}

.text-center{
    text-align: center;
}

.col-third{
    width: calc(100% / 3);
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}



/* MAIN FUNCTION */

#main{

}

/* Star-heading */

#header{
    background-color: black;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    height: 46.5px;
}

#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav li a{
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    font-size: 15px;
    display: inline-block;
}

#nav > li > a{
    color: white;
}

#nav .subnav{
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    background-color: #fff;
}

#nav .subnav li{
    min-width: 160px;
    display: block;
}

#nav .subnav li:hover,
    #nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav a{
    color: black;
    padding:8px 16px;
    display: inline-block;
    line-height: 22.5px;
}

/* #nav .subnav li:hover,
#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
} */

.nav-icon-down{
    font-size: 10px;
}

.nav-icon-menu,
.nav-icon-search{
    color: #fff;
    float: right;
    padding: 0 16px;
    line-height: 46.5px;
    text-align: center;
    text-decoration: none;
}

.nav-icon-menu{
    position: absolute;
    top: 0;
    right: 0;
}

.nav-icon-menu:hover{
    background-color: #ccc;
    color: #000;
}

.nav-icon-search:hover{
    background-color: #F44336;
    cursor: pointer;
}


/* End heading */

/* Start slider */

#slider{
    padding-top: 50%;
    color: #fff;
    background: url('/assets/img/slider/slider.jpg') top center /cover no-repeat;
    width: 100%;
}

.slider-content{
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 32px 16px;
}

.slider-heading{
    margin: 10px 0;
}

.slider-subheading{
    font-size: 15px;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 15px 0;
}


/* End slider */

/* Start content  */

#content{

}

.the-band-container{
    padding: 64px 16px;
    max-width: 800px;
    margin: 0 auto;
}

.the-band-heading{
    letter-spacing: 4px;
    margin: 10px 0;
}

.the-band-subheading{
    margin: 15px 0;
    opacity: 0.7;
    padding: 32px 0;
}

.the-band-about{
    margin: 15px 0;
    text-align: justify;
}

.member-container{
   padding: 32px 0;
}

.member-name{
    margin: 15px 0;
}

.member-img{
    width: 60%;
    border-radius: 4px;
}

/* Start tour date  */

.background-tour-date{
    background-color: #000;
}


.tour-date-container{
    padding: 64px 16px;
    margin: 0 auto;
    max-width: 800px;
}

.tour-date-heading{
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
    margin: 10px 0;
    color: #fff;
}

.tour-date-subheading{
    color: #fff;
    margin: 15px 0; 
    opacity: 0.6;
}

.tour-date-list{
    list-style-type: none;
    background-color: #FFF;
    color: #757575;
    margin-top: 32px;
}

.red-span{
    margin-left: 16px;
    background-color: #F44336;
    color: #fff;
    padding: 4px 8px;
}

.black-span{
    float: right;
    background-color: #000;
    border-radius: 50%;
    padding: 0 8px;
    color: #fff;
}

.tour-date-list li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.tour-place-list{
    margin: 0 -8px;
    padding: 32px 0;
}

.place-list{
    padding: 0 8px;
    display: block;
}

.place-text-body{
    background-color: #fff;
    color: #000;
    padding: 0 16px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-name{
    padding: 15px 0;
    font-weight: 400;
}

.place-time{
   opacity: 0.6;
   margin-bottom: 15px;
}

.place-about{
    margin: 15px 0;

}

.place-btn{
 margin-bottom: 16px;
 padding: 8px 16px;
 background-color: #000;
 color: #fff;
 border: none;
 cursor: pointer;
}

.place-btn:hover{
    background-color: #ccc;
    color: #000;
}

.contact-container{
    max-width: 800px;
    padding: 64px 16px;
    margin: 0 auto;
}

.contact-heading{
    margin: 10px 0;
}

.contact-subheading{
    margin: 15px 0;
    opacity: 0.6;
}

.contact-info{
    padding: 32px 0;
}
.company-info i[class*="ti-"]{
    display: inline-block;
}

.ti-company-icon{
    width: 30px;
}

.user-info{

}

.user-name-input{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.user-email-input{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.user-message-input{
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.line-1{
    padding: 0 8px;
    margin: 0 -16px;
    margin-bottom: 8px;
}

.user-name{
    padding: 0 8px;
}

.user-email{
    padding: 0 8px;
}



.contact-btn{
    margin: 16px 0;
    float: right;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: none;
}

.contact-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}





/* End tour date  */

/* End content  */

.map{
    filter: grayscale(50%);
    width: 100%;
}

#footer{
    margin: 0 auto;
    padding: 64px 16px;
    max-width: 800px;
}

.footer-icon:hover{
    opacity: 0.6;
    cursor: pointer;
}

.footer-coppyright{
    margin: 15px 0;
    color: #757575;
}

.footer-coppyright a{
    color: #757575;
}

/* Start ticket */

.ticket-modal{
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 3;
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    display: none;
}

.ticket-modal.open{
   display: flex;
}

.modal-container{
    width: 900px;
    margin: auto;
    animation: fadein ease 0.4s;
    position: relative;
}

.modal-header-container{
    padding: 32px 16px;
    color: #fff;
    background-color: #009688;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-header{
    margin: 10px 0;
    letter-spacing: 4px;
}

.ti-bag{
    margin-right: 16px;
}

.modal-close{
    top: 0;
    right: 0;
    float: right;
    display: inline-block;
    color: #fff;
    padding: 8px 16px;
    position: absolute;
}

.modal-close:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.modal-body{
    background-color: #fff;
    padding: 0 16px;
}

.modal-lable{
    padding: 15px 0;
}

.modal-input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    line-height: 22.5px;
}

.modal-btn{
    width: 100%;
    background-color: #009688;
    padding: 16px 0;
    margin: 16px 0;
    border: none;
    color: #fff;
}

.modal-btn:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000
}

.modal-need{
    margin: 15px 0;
    float: right;
}

.modal-help{
    color: #2196F3;
}

@keyframes fadein{
    from{
        opacity: 0.3;
        transform: translateY(-300px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* tablet */
@media (min-width: 705px) and (max-width: 1023px){
    .nav-icon-menu{
        display: none;
    }
    .modal-container{
        max-width: 600px;
    }
    #header{
        overflow: visible;
    }

    .contact-info{
        width: 100%;
    }

    .contact-btn{
        padding: 16px;
    }

    .contact-btn, .place-btn{
        width: 100%;
        padding: 16px 0;
    }

    .footer-coppyright a{
        padding: 8px 0;
        display: inline-block;
    }

    .footer-icon{
        font-size: 24px;
        padding: 0 8px;
    }

}


/* pc */
@media (min-width: 1024px){
    .nav-icon-menu{
        display: none;
    }
    #header{
        overflow: visible;
    }
}



/* mobile */
@media (max-width: 704px){
    #nav{
        display: block;
    }

    #nav > li{
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav > li > a{
        width: 100%;
        display: block;
    }

    .nav-icon-search{
        display: none;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 14px 38px;
    }

    .member-container .mobile-member{
        width: 100%;
    }

    .tour-date-container .mobile-place{
        width: 100%;
        margin-bottom: 16px;
    }

    .contact-container .mobile-contact{
        width: 100%;
        padding: 16px 8px;
    }

    .modal-container{
        max-width: calc(100% - 32px);
    }

    .line-1{
        margin-top: 16px;
        line-height: 2;
    }

    .contact-btn, .place-btn{
        width: 100%;
        padding: 16px 0;
    }

    .footer-coppyright a{
        padding: 8px 0;
        display: inline-block;
    }

    .footer-icon{
        font-size: 24px;
        padding: 0 8px;
    }
}

